<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='styles/main.css')}}">
        <style>
            .error{
                color:red;
            }
        </style>
    </head>
    <body>
        <div class="logo">
            <img src="../static/images/wwlogo.jpg" class="center">
            <!-- "{{url_for('static',filename='images/wwlogo.jpg')}}" -->
        </div>
        <div class="container">
            <nav class="navbar navbar-default" style="background-color: rgb(255, 210, 7)">
                <ul class="nav navbar-nav">
                    <li class="col-sm-2"><a href="/pmix-viewer">To Pmix</a></li>
                    <li class="col-sm-2"><a href="/upload">Upload Pmix</a></li>
                    <li class="col-sm-6"></li>
                    <li class="col-sm-2"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
        
        
        {% block content %}
        {% endblock %}

    </body>
</html>