{% extends "base.html" %}
{% block content %}

<div class="col-md-4">
<form class="form-inline" method='post' action="/upload-file" enctype=multipart/form-data>
    <div class="form-group">
        <label for="fileupload"> Select a file to upload:</label>
        <input class="form-control" type="file" name="fileupload" value="fileupload" id="fileupload" />
        <button class="btn btn-primary" type="submit" value="Convert">Convert to Pmix</button>
    </div>
</form>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
    <form class="form-inline" method='post' action="/upload-sample" enctype=multipart/form-data>
        <div class="form-group">
            <label for="fileupload">View sample pmix:</label>
            <button class="btn btn-primary" type="submit" value="Convert">Convert to Pmix</button>
        </div>
    </form>
</div>

{% endblock %}