{% extends "base.html" %}
{% block content %}


<div class="container">
    <h3>{{recipe}}</h3>
    <table class="table">
        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        
        {% for ingredient,quantity in ingredient_list %}
        <tr>
            <th>{{ingredient}}</th>
            <th>{{quantity}}</th>
            <th>
                <form action='/delete-ingredient' method='post'>
                    <input type="hidden" name="ingredient_name"value="{{ingredient}}" />
                    <input type="hidden" name="recipe_name" value="{{recipe}}" />
                    <input type="submit" value="Delete ingredient" />
                </form>
            </th>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}